* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    position: relative;
    font-family: 'Space Grotesk', sans-serif;
}

.header_logo {
    font-size: 3rem;
    color: #27464e;
    font-family: 'Indie Flower', cursive;
}

.header {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 25px;
}

.section_hero {
    position: relative;
    min-height: calc(100vh);
    overflow: hidden;
    margin-bottom: 50px;
}

.section_hero__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.section_hero__leaf-top {
    position: absolute;
    top: 25px;
    right: -70px;
    width: 200px;
    height: 250px;
    background-image: url("../images/mobile-leaf-1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.section_hero__title {
    font-size: 4.2rem;
    margin-bottom: 15px;
    text-align: center;
}

.section_hero__description {
    font-size: 1.6rem;
    padding: 5px 25px;
    text-align: justify;
}

.section_hero__leaf-bottom {
    position: absolute;
    bottom: 0;
    left: -100px;
    width: 250px;
    height: 250px;
    background-image: url("../images/mobile-leaf-2.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: .4;
    z-index: -1;
}


.section_hero__button {
    color: #fff;
    padding: 20px 55px;
    background-color: #86A986;
    border-radius: 18px;
    margin-top: 30px;
    font-size: 2rem;
    cursor: pointer;
}

.section_faq {
    min-height: 65vh;
    color: #fff;
    background-color: #86A986;
    padding: 15px;
}

.section_faq__details {
    height: 100%;
    padding: 15px;
}

.details_description {
    font-size: 1.6rem;
    margin: 15px 0;
}

.details_title {
    font-size: 2.6rem;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    cursor: pointer;
}

.details_title::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 3px;
    background-color: #fff;
    right: 5px;
    top: 48%;
    transform: rotate(45deg) ;
}
.details_title::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 3px;
    background-color: #fff;
    right: 0;
    top: 48%;
    transform: rotate(-45deg);
}

.active {
    color: #fff;
    background-color: #86A986;
}

.section_questionnaire {
    padding: 15px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.questionnaire_title {
    font-size: 3.3rem;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.questionnaire_description {
    font-size: 1.3rem;
    margin-bottom: 50px;
    font-style: italic;
}

.questionnaire_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.questionnaire_input {
    position: relative;
    margin: 0 16px;
  }

.questionnaire_input::before {
    content: attr(value);
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
  }

.questionnaire_digit {
    display: none;
}

.question {
    width: 75%;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.question_text {
    font-size: 1.6rem;
    padding: 5px;
    margin-bottom: 20px;
}

.answer_side {
    background-color: #FFF;
    width: 90vw;
    height: 98vh;
    position: fixed;
    top: 1vh;
    margin: 0 auto;
    right: 0;
    left: 0;
    padding: 15px 0;
    transition: all .3s ease-in;
    transform: translateX(110%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.answer_description {
    margin-bottom: 7px;
    padding: 15px 25px;
    flex-basis: 80%;
}

.answer_description__title {
    font-size: 1.6rem;
    margin-bottom: 10px;
    flex-basis: 10%;
    font-weight: bold;
}

.answer_list li{
    font-size: 1.6rem;
}

.answer_list li:nth-child(1) {
    font-weight: bold;
    margin: 5px 0;
}

.answer_list li:nth-child(2) {
    list-style: inside;
    margin-bottom: 5px;
}

.answer_list li:nth-child(4) {
    margin-top: 5px;
}


.answer_list li:nth-child(5) {
    font-weight: bold;
    margin: 5px 0;
}

.answer_list li:nth-child(6), .answer_list li:nth-child(7) {
    list-style: inside;
}

.answer_description__text {
    font-size: 1.6rem;
    text-align: justify;
}

.answer_identify {
    text-align: center;
    font-size: 1.6rem;
}
.answer_blur {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.answer_side__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive; 
}

.answer_side__text {
    font-size: 2rem;
    margin-top: 5px;
}

.answer_side__button, .questionnaire_button {
    padding: 15px 50px;
    font-size: 1.6rem;
    text-transform: uppercase;
    border: 2px solid #86A986;
    border-radius: 18px;
    position: relative;
    color: #000;
    transition: all .3s ease-in-out;
}

.questionnaire_button {
    font-size: 2rem;
    background: none;
    cursor: pointer;
    margin-bottom: 40px;
}

.answer_side__button::before, .questionnaire_button::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 10px;
    background-color: #fff;
    top: -6px;
    left: 19px;
    transition: all .5s ease-in-out
}
.answer_side__button::after, .questionnaire_button::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 10px;
    background-color: #fff;
    bottom: -6px;
    right: 19px;
    transition: all .5s ease-in-out
}

.answer_side__button:hover, .questionnaire_button:hover {
    letter-spacing: 5px;
}

.answer_side__button:hover::before, .questionnaire_button:hover::before {
    transform: translateX(126px);
}
.answer_side__button:hover::after, .questionnaire_button:hover::after {
    transform: translateX(-126px);
}

.footer {
    min-height: 10vh;
    padding: 10px 0;
    background-color: #28474F;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.copyright, .fa-brands {
    font-size: 1.6rem;
}

.section_questionnaire__leaf-top {
    position: absolute;
    top: 10%;
    right: -120px;
    width: 350px;
    height: 550px;
    background-image: url("../images/mobile-leaf-3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transform: rotate(-30deg);
    opacity: .3;
    z-index: -69;
}
.section_questionnaire__leaf-bottom {
    position: absolute;
    bottom: 10%;
    left: 35px;
    width: 250px;
    height: 250px;
    background-image: url("../images/mobile-leaf-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transform: rotate(130deg);
    opacity: .4;
    z-index: -69;
}